data/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RedispatchMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DocumentID"/>
              <xs:element type="xs:string" name="Sender"/>
              <xs:element type="xs:string" name="Receiver"/>
              <xs:element type="xs:dateTime" name="CreationDateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payload">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AvailabilitySeries" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ResourceID"/>
                    <xs:element name="TimeInterval">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="Start"/>
                          <xs:element type="xs:dateTime" name="End"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="AvailableCapacityMW"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>